###############################################
# gpiozero and pigpio section for GPIO
###############################################

gpiozero
pigpio
GPIO
# RPi.GPIO

###############################################
# mkdocs and documentation section
###############################################

mkdocs
mkdocs-material
mkdocs-drawio-file